.container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    overflow-y: scroll;
    .content{
        width: 200px;
        height: 200px;
        border: 1px solid;
        position: relative;
        button{
            position: absolute;
            top: 40%;
            left: 35%;
            padding: 10px;
            background-color: lightblue;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}